<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <h2>{{message}}</h2>
  <cpn></cpn>
  <cpn>
    <template slot-scope="slot">
      <span v-for="item in slot.data">{{item}} - </span>
    </template>
  </cpn>
  <cpn>
    <div slot-scope="slot">
      <span v-for="item in slot.data">{{item}} * </span>
    </div>
  </cpn>
  <cpn>
    <div slot-scope="slot" slot="xia">
      <span v-text="slot.message"></span>
    </div>
  </cpn>
</div>
<template id="cpn">
  <div>
    <p>子组件</p>
    <slot :data="planguages">
      <ul>
        <li v-for="item in planguages">{{item}}</li>
      </ul>
    </slot>
    <slot :message="message" name="xia">
      <p>test</p>
    </slot>

  </div>
</template>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  const app = new Vue({
    el: "#app",
    data: {
      message: "hello vue"
    },
    components: {
      cpn: {
        template: "#cpn",
        data() {
          return {
            planguages: ['JavaScript','Python','Swift','Go','Java'],
            message: '念佛二'
          }
        }
      }
    }
  })
</script>
</body>
</html>
